PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "role" varchar check ("role" in ('Admin', 'Resepsionis', 'Pasien', 'Dokter', 'Perawat', 'Apoteker')) not null default 'Pasien', "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
INSERT INTO users VALUES(1,'Admin Klinik','admin@klinik.com',NULL,'$2y$12$69sy/4HnMA5lrinelPtezuR2v3K9zO/j5kG0YRLFRgwnqUVfNqCQa','Admin','Sy08GsYisn6IBoEy137ivO3ZzPgrpR861G4WWDpK4Ur2Cmft2YluksROuNcK','2026-06-10 07:23:28','2026-06-10 07:23:28');
INSERT INTO users VALUES(2,'Resepsionis Klinik','resepsionis@klinik.com',NULL,'$2y$12$gheQ0d3Q7fA6aWEXwLsMFeIqGwe2SsWoHJjwfo9ezMnnP2tnC.VDi','Resepsionis',NULL,'2026-06-10 07:23:29','2026-06-10 07:23:29');
INSERT INTO users VALUES(3,'Dr. Budi Santoso (Poli Umum)','dokter1@klinik.com',NULL,'$2y$12$.52VjluImoynnKO9pFhrL.vSlERYi2CcnuWtZSz4sTlwkGDaKT9ZS','Dokter',NULL,'2026-06-10 07:23:29','2026-06-10 07:23:29');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('Em9tRH9R94I0GQrUGMHOyZgUZ0DiJyySSmf9ThDJ',1,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36','eyJfdG9rZW4iOiJHdjZqaE9lRFVpS2dJZTVQcVlhWHl3NWh0SFVxNW9DU2NMckZtRng0IiwiX3ByZXZpb3VzIjp7InVybCI6Imh0dHA6XC9cLzEyNy4wLjAuMTo4MDAwXC9kb2N0b3Itc2NoZWR1bGVzIiwicm91dGUiOiJkb2N0b3Itc2NoZWR1bGVzLmluZGV4In0sIl9mbGFzaCI6eyJvbGQiOltdLCJuZXciOltdfSwibG9naW5fd2ViXzU5YmEzNmFkZGMyYjJmOTQwMTU4MGYwMTRjN2Y1OGVhNGUzMDk4OWQiOjF9',1781076731);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" varchar not null, "queue" varchar not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "patients" ("id" integer primary key autoincrement not null, "user_id" integer, "nama" varchar not null, "NIK" varchar not null, "tgl_lahir" date not null, "alamat" text not null, "no_telp" varchar not null, "deleted_at" datetime, "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO patients VALUES(1,7,'Budi Pekerti','1234567890123456','1995-08-17','Jl. Merdeka No. 17, Jakarta','081234567890',NULL,'2026-06-10 07:23:30','2026-06-10 07:23:30');
INSERT INTO patients VALUES(2,NULL,'Agus Wijaya','3201234567890123','1988-12-05','Jl. Mawar No. 45, Bogor','087788990011',NULL,'2026-06-10 07:23:30','2026-06-10 07:23:30');
CREATE TABLE IF NOT EXISTS "medicines" ("id" integer primary key autoincrement not null, "nama" varchar not null, "kategori" varchar not null, "satuan" varchar not null, "harga" numeric not null, "stok" integer not null, "min_stock" integer not null, "created_at" datetime, "updated_at" datetime);
INSERT INTO medicines VALUES(1,'Paracetamol 500mg','Analgesik','Tablet',500,120,20,'2026-06-10 07:23:30','2026-06-10 07:23:30');
INSERT INTO medicines VALUES(2,'Amoxicillin 500mg','Antibiotik','Tablet',1500,45,15,'2026-06-10 07:23:30','2026-06-10 07:23:30');
INSERT INTO medicines VALUES(3,'Ibuprofen 400mg','Analgesik','Tablet',800,8,15,'2026-06-10 07:23:30','2026-06-10 07:23:30');
CREATE TABLE IF NOT EXISTS "medical_records" ("id" integer primary key autoincrement not null, "patient_id" integer not null, "doctor_id" integer not null, "keluhan" text not null, "kode_icd_10" varchar not null, "tindakan_medis" text not null, "tekanan_darah" varchar not null, "suhu" varchar not null, "nadi" varchar not null, "berat_badan" varchar not null, "tinggi_badan" varchar not null, "created_at" datetime, "updated_at" datetime, foreign key("patient_id") references "patients"("id") on delete cascade, foreign key("doctor_id") references "users"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "medical_record_medicine" ("id" integer primary key autoincrement not null, "medical_record_id" integer not null, "medicine_id" integer not null, "dosis" varchar not null, "jumlah" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("medical_record_id") references "medical_records"("id") on delete cascade, foreign key("medicine_id") references "medicines"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "queues" ("id" integer primary key autoincrement not null, "patient_id" integer not null, "doctor_id" integer not null, "nomor_antrean" varchar not null, "tanggal" date not null, "sesi" varchar not null, "status" varchar check ("status" in ('Menunggu', 'Diperiksa', 'Selesai', 'Batal')) not null default 'Menunggu', "created_at" datetime, "updated_at" datetime, foreign key("patient_id") references "patients"("id") on delete cascade, foreign key("doctor_id") references "users"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "doctor_schedules" ("id" integer primary key autoincrement not null, "doctor_id" integer not null, "hari" varchar check ("hari" in ('Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu')) not null, "jam_mulai" time not null, "jam_selesai" time not null, "created_at" datetime, "updated_at" datetime, foreign key("doctor_id") references "users"("id") on delete cascade);
INSERT INTO doctor_schedules VALUES(1,3,'Senin','08:00:00','12:00:00','2026-06-10 07:23:30','2026-06-10 07:23:30');
INSERT INTO doctor_schedules VALUES(2,4,'Senin','13:00:00','17:00:00','2026-06-10 07:23:30','2026-06-10 07:23:30');
INSERT INTO doctor_schedules VALUES(3,3,'Selasa','08:00:00','12:00:00','2026-06-10 07:23:30','2026-06-10 07:23:30');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',9);
INSERT INTO sqlite_sequence VALUES('users',7);
INSERT INTO sqlite_sequence VALUES('patients',2);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "cache_expiration_index" on "cache" ("expiration");
CREATE INDEX "cache_locks_expiration_index" on "cache_locks" ("expiration");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE INDEX "failed_jobs_connection_queue_failed_at_index" on "failed_jobs" ("connection", "queue", "failed_at");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE UNIQUE INDEX "patients_nik_unique" on "patients" ("NIK");
COMMIT;
